*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.conteiner {
    max-width: 100%;
    min-width: 320px;
}

.header {
    background: url(../img/hbg.jpg) top center no-repeat;
    background-size: cover;
    color: #ffffff;
    padding: 0 0 240px 0;
}
.wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0 130px 0;
}
/* .header__logo {
} */
.header__menu ul{
    list-style: none;
    display: flex;
}
.header__menu ul li {
    margin: 0 20px;
}
.header__menu ul li a {
    color: #ffffff;
    text-decoration: none;
}
.header__menu ul li a:hover {
    text-decoration: underline;
}
.header h1 {
    text-align: center;
    font-size: 60px;
    margin-bottom: 50px;
}
.header h3 {
    text-align: center;
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 100px;
}
.header__button {
    text-align: center;
}
.header__button a {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    border: 2px solid #fb414e;
    border-radius: 4px;
    padding: 10px 25px;

}
.header__button a:hover{
    background: #fb414e;;
}

.feature {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: -80px auto 180px auto;;
}

.feature__element {
    background: #202b30;
    flex-basis: 32%;
    flex-wrap: wrap;
    color: #ffffff;
    padding: 70px 55px;
    box-sizing: border-box;
}
.feature__element img {
    margin-bottom: 50px;
}
.feature__element h3 {
    font-size: 20px;
    line-height: 25px;
    font-weight: 500;
} 
.feature__element h3::after{
    content: "";
    width: 50px;
    height: 3px;
    background: #ffffff;
    display: block;
    margin: 25px 0 25px 0;
}
.feature__element p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}

.service{
    max-width: 1200px;
    margin: 0 auto;
}

.block__title {
    font-size: 60px;
    text-align: center;
    margin-bottom: 50px;
}
.red { color: #fb414e;}
.block__subtitle {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 120px;
    color: #838383;
    font-weight: 300;
}

.service__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.service__element{
    flex-basis: 26%;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 30px;
}
.service__element img{
    margin-bottom: 30px;
}
.service__element h3{
    font-size: 32px;
    margin-bottom: 30px;
}
.service__element p{
    font-weight: 300;
    line-height: 28px;
    color: #838383;
}